    <script src="/Stylesheet/js/jquery_3.3.1.js"></script>
    <script src="/Stylesheet/js/popper.min.js"></script>
    <script src="/Stylesheet/js/bootstrap.min.js"></script>
    <script src="/Stylesheet/js/bootstrap-touch-slider.js"></script>
        
        <script type="text/javascript">
            $('#bootstrap-touch-slider').bsTouchSlider();
        </script>
    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $('.stay-small').slideUp(300);
        }, 5000);
      });
    </script>
  </body>
</html>
