<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Project || <%= pageTitle %></title>
</head>
<body> -->

  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" href="/Stylesheet/css/myStyles"> -->
    <link rel="stylesheet" href="/Stylesheet/css/font-awesome.css">
    <link rel="stylesheet" href="/Stylesheet/css/fontawesome.min.css">
    <link rel="stylesheet" href="/Stylesheet/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Stylesheet/css/bootstrap.css" />
    <link rel="stylesheet" href="/Stylesheet/css/custom.css" />
    <link href="bootstrap-touch-slider.css" rel="stylesheet" media="all">
    <link
      href="https://fonts.googleapis.com/css?family=Lobster|Molle:400i|Zhi+Mang+Xing&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.ico">

    <title>E-Response || <%= pageTitle %></title>
  </head>
  <body>
  
