<!-- ----------------NAVBAR AREA-------------------------- -->

<nav class="navbar navbar-expand-sm navbar-light bg-info">
  <a class="logo" href="/">
                        <!-- Logo icon image, you can use font-icon also --><b>
                          <!-- This is dark logo icon -->
                            <img src="/plugins/images/admin-logo.png" alt="home" width="50px" style="background-color: rgba(255, 255, 255, 0.144);"/>
                            <!--This is light logo icon-->
                            <!-- <img src="/plugins/images/admin-logo.png" alt="home" width="30px"/> -->
                        </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                            <!--This is dark logo text-->
                            <!-- <img src="/plugins/images/admin-text.png" alt="home" class="dark-logo" /> -->
                            <h3 class="logo-text dark-logo light-logo mx-2 my-2"><a class="navbar-brand" href="/"><span class="one">E-</span><span class="two">Response</span></a></h3>
                            <!--This is light logo text-->
                            <!-- <h3>Dashboard</h3> -->
                            <!-- <img src="/plugins/images/admin-text-dark.png" alt="home" class="light-logo" /> -->
                        </span> </a>
  <!-- <a class="navbar-brand" href="/"><span class="one">E-</span><span class="two">Response</span></a> -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="/"><i class="fa fa-home"> Home</i></a>
      <a class="nav-item nav-link" href="/about"><i class="fa fa-bookmark-o"> About</i></a>
      <a class="nav-item nav-link" href="/message"><i class="fa fa-bell"> Contact</i></a>
      <ul class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"
                  style="padding-top: 14px; padding-bottom: 14px;"><i class="fa fa-user"></i> Account <i
                    class="fa fa-arrow-down"></i></button>
                <li class="dropdown-menu">
                   <a href="/register"><button type="submit" style="float: left"> Register</button></a>
                  <a href="/login"> <button type="submit" style="float: right"> Login</button></a>
                </li>
              </ul>
    </div>
  </div>
</nav>

<!-- -----------------END NAV AREA------------------------- -->
